@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 450;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 750;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Benguiat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Benguiat/Benguiat.eot");
  src: url("../fonts/Benguiat/Benguiat.eot?#iefix") format("embedded-opentype"), url("../fonts/Benguiat/Benguiat.woff") format("woff"), url("../fonts/Benguiat/Benguiat.ttf") format("truetype");
}
@font-face {
  font-family: "Geologica";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Geologica/Geologica-Light.eot");
  src: url("../fonts/Geologica/Geologica-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geologica/Geologica-Light.woff") format("woff"), url("../fonts/Geologica/Geologica-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Andika";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Andika/Andika.eot");
  src: url("../fonts/Andika/Andika.eot?#iefix") format("embedded-opentype"), url("../fonts/Andika/Andika.woff") format("woff"), url("../fonts/Andika/Andika.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "AvenirNextCyr", sans-serif;
  font-weight: 450;
  background: #1D4C56;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  width: 100%;
  height: 54px;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: 0.3s ease;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.5);
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 24px;
}
label:last-child {
  margin: 0;
}

.label-title {
  margin: 0 0 16px;
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  font-family: "Andika", sans-serif;
}

textarea {
  resize: none;
  padding: 16px 24px;
  height: 120px;
}

.select-my {
  background: rgba(255, 255, 255, 0.05) url("../img/arrow-select.svg") no-repeat calc(100% - 16px) center;
  background-size: 32px;
  color: rgba(255, 255, 255, 0.5);
}
.select-my:hover, .select-my:focus {
  color: #fff;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "AvenirNextCyr", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 32px;
  font-size: 18px;
  font-weight: 450;
  height: 54px;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.3s ease;
}
.btn:hover::before, .btn:focus::before {
  height: 100%;
}

.btn-accent {
  background: #F9A437;
  color: #fff;
}
.btn-accent::before {
  background: #399297;
}
.btn-accent:hover, .btn-accent:focus {
  color: #fff;
}

.btn-dafault-icon {
  padding: 0;
}
.btn-dafault-icon span {
  padding: 13px 20px 13px 32px;
  width: 100%;
}
.btn-dafault-icon .btn-icon {
  padding: 3px;
  height: 52px;
  width: 52px;
  min-width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
}

.btn-accent-border {
  border: 1px solid #fff;
  background: #F9A437;
  color: #fff;
  fill: #fff;
}
.btn-accent-border::before {
  background: #399297;
}
.btn-accent-border:hover, .btn-accent-border:focus {
  border-color: #fff;
}

.btn-border {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  fill: #fff;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
}
.btn-border::before {
  background: #399297;
}
.btn-border:hover, .btn-border:focus {
  border-color: #fff;
}

.btn-blue {
  background: #399297;
  color: #fff;
}
.btn-blue::before {
  background: #F9A437;
}

.btn-group {
  flex-wrap: wrap;
}
.btn-group .btn {
  margin: 0 24px 12px 0;
}
.btn-group .btn:last-child {
  margin: 0 0 12px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1536px;
  padding: 0 24px;
}

.container-fluid {
  max-width: 100%;
  padding: 0 24px;
}

.row {
  margin: 0 -24px;
}
.row > * {
  padding: 0 24px;
}

h1, .h1 {
  font-family: "Benguiat", sans-serif;
  font-size: 117px;
  line-height: 95%;
  position: relative;
  z-index: 1;
  margin: 0 0 24px;
  text-transform: uppercase;
}
h1 span, .h1 span {
  display: block;
  position: relative;
  background: linear-gradient(0deg, #ab6b8b 1.04%, #ffae43 10.1%, #ffefda 81.73%, #fdbc48 93.75%, #fbf1d1 97.92%, #ab6b8b 99.99%, #ecc5a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span::before, .h1 span::before {
  content: attr(data-text);
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  color: #00323A;
  -webkit-text-fill-color: #00323A;
  background: none;
  width: 100%;
}

h2, .h2 {
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 73px;
  line-height: 95%;
  letter-spacing: 3px;
  font-family: "Benguiat", sans-serif;
  font-weight: 400;
  margin: 0 0 24px;
  position: relative;
  z-index: 1;
}
h2 span, .h2 span {
  display: block;
  position: relative;
  background: linear-gradient(0deg, #ab6b8b 1.04%, #ffae43 10.1%, #ffefda 81.73%, #fdbc48 93.75%, #fbf1d1 97.92%, #ab6b8b 99.99%, #ecc5a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 span::before, .h2 span::before {
  content: attr(data-text);
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  color: #00323A;
  -webkit-text-fill-color: #00323A;
  background: none;
  width: 100%;
}

.title-no-gradient {
  color: #fff;
  font-size: 64px;
  line-height: 100%;
  margin: 0 0 16px;
}
.title-no-gradient span {
  background: transparent;
  -webkit-text-fill-color: inherit;
  display: inline;
}
.title-no-gradient span::before {
  display: none;
}

h3, .h3 {
  width: 100%;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.nav-breadcrumb {
  width: 100%;
  margin: 0 0 24px;
}

.breadcrumb {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "Andika", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.breadcrumb-item {
  padding: 0;
}
.breadcrumb-item a {
  display: flex;
  align-items: center;
  color: #fff;
}
.breadcrumb-item a::after {
  content: "/";
  margin: 0 10px;
  display: inline-block;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}

.breadcrumb-item.active {
  color: #fff;
  opacity: 0.5;
}

.nav-pagination {
  width: 100%;
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Andika", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}
.pagination li {
  margin: 0 16px 0 0;
}
.pagination li:last-child {
  margin: 0;
}
.pagination li:last-child .page-link {
  border-radius: 0;
}
.pagination li:first-child .page-link {
  border-radius: 0;
}
.pagination li.active .page-link {
  color: #fff;
  background: transparent;
}
.pagination .page-link {
  font-family: "Andika", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .page-link:hover, .pagination .page-link:focus {
  box-shadow: none;
  color: #F9A437;
}
.pagination .page-link-arrow {
  border: 1px solid #fff;
  width: 52px;
  height: 52px;
  min-width: 52px;
  padding: 10px;
  fill: #fff;
}
.pagination .page-link-arrow:hover {
  background: #F9A437;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0;
}

.box-text {
  font-family: "Andika", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.box-text p {
  margin: 0 0 24px;
}
.box-text p:last-child {
  margin: 0;
}

.text-content {
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.4px;
  font-weight: 450;
  padding: 32px;
  max-width: 478px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(110px);
          backdrop-filter: blur(110px);
}
.text-content p {
  margin: 0 0 32px;
}
.text-content p:last-child {
  margin: 0;
}

.color-white50 {
  color: rgba(255, 255, 255, 0.5);
}

.wrapper {
  background: #032628;
}

.bg-fixed {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.p-120 {
  padding: 120px 0;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-0 {
  margin: 0;
}

.ml-auto {
  margin-left: auto;
}

.bg-green {
  background: #032628;
}

.color-accent {
  color: #F9A437;
}

.color-green {
  color: #399297;
}

.page {
  padding: 8px 0 120px;
}

.form-search {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  margin: 24px 0 0;
}
.form-search label {
  margin: 0;
}
.form-search [type=submit] {
  padding: 11px;
  fill: #fff;
  width: 54px;
  height: 54px;
  min-width: 54px;
}
.form-search [type=submit] svg {
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.form-search [type=submit]:hover, .form-search [type=submit]:focus {
  fill: #fff;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  background: transparent;
  width: 52px;
  height: 52px;
  min-width: 52px;
  opacity: 1;
  position: relative;
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-arrow svg {
  width: 32px;
  height: 32px;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #F9A437;
  fill: #fff;
}

.slider-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.slider-nav .slick-arrow {
  margin: 0 24px 0 0;
}
.slider-nav .slick-arrow:last-child {
  margin: 0;
}

.slider-stretch .slick-list {
  margin: 0 -12px;
}
.slider-stretch .slick-track {
  display: flex;
  align-items: stretch;
}
.slider-stretch .slide {
  height: auto;
  padding: 0 12px;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 0;
  line-height: 16px;
  max-width: 279px;
  cursor: pointer;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked ~ .label-checkbox__custom {
  background: #F9A437;
  border-color: #fff;
}
.label-checkbox__custom {
  width: 18px;
  height: 18px;
  min-width: 18px;
  margin: 0 8px 0 0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
}