/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px)
  .home-image-max
    max-width: 600px

  .home-image-min
    max-width: 550px

  .home
    padding: 24px.0 400px

  .philosophy-box
    padding: 24px
    h3
      font-size: 80px
      line-height: normal

  footer::before
    width: 200px
    height: 400px

  footer:after
    width: 200px
    height: 340px

  .product-card__name
    font-size: 28px

@media only screen and (max-width: 1600px)
  .home h1 span:nth-child(2)
    margin: 0

  h1, .h1
    font-size: 70px

  .about-image-max
    max-width: 600px

  .container, .container-fluid
    padding: 0 16px

  .row
    margin: 0 -16px
    >*
      padding: 0 16px

  .mb-32
    margin-bottom: 24px

  .mb-80
    margin-bottom: 40px

  .mb-20
    margin-bottom: 20px

  .mb-48
    margin-bottom: 30px

  .form-filter
    margin: 0 0 40px

  .product-card
    height: 600px

  .product-card__name
    font-size: 24px

  .product-card__img
    height: 300px

  .product-card__body
    height: calc( 100% - 300px )

  .product-card-max
    height: auto
    .product-card__img
      height: 600px

  .product-card-max .product-card__body
    height: calc( 100% - 600px )

  .page-product__footer .price
    font-size: 30px

  .page-product__footer
    padding: 20px

  .title-no-gradient
    font-size: 54px

@media only screen and (max-width: 1200px)
  h2, .h2
    font-size: 50px

  h3, .h3
    font-size: 20px

  .btn
    font-size: 16px

  .mb-80
    margin-bottom: 40px

  .p-120
    padding: 60px 0

  .box-text
    font-size: 16px
    letter-spacing: 0
    line-height: normal
    p
      margin: 0 0 12px
      &:last-child
        margin: 0

  .home-image h4
    font-size: 20px
    line-height: normal
    max-width: 330px

  .home-image-min
    max-width: 400px

  .home-image-max
    max-width: 400px

  .subtitle-text
    font-size: 20px
    max-width: 330px

  .home
    padding: 24px 0 300px
    h3
      font-size: 24px

  h1, .h1
    font-size: 50px

  .philosophy-box h3
    font-size: 60px

  .text-content
    padding: 24px
    font-size: 16px
    line-height: normal
    letter-spacing: 0
    p
      margin: 0 0 12px
      &:last-child
        margin: 0

  .philosophy
    padding: 80px 0 60px

  footer
    padding: 60px 0

  .about-image-min
    margin: 20px 0 0

  .about-image-max
    max-width: 400px

  .product-card
    padding: 12px
    .box-text
      margin: 12px 0 0

  .product-card__body .btn
    margin: 12px 0 0

  .page-product__footer .price
    font-size: 24px
    
  .page-product-content, .page-product__footer
    margin: 20px 0 0    

@media only screen and (max-width: 992px)
  h2, .h2
    margin: 0 0 12px

  .title-no-gradient
    font-size: 50px

  footer
    padding: 40px 0
    &::before
      width: 100px
      height: 200px
    &:after
      width: 120px
      height: 240px
    .h2
      font-size: 40px

  .form-callback-footer
    margin: 30px auto 0
    max-width: none

  .text-content
    max-width: none

  .philosophy
    .text-content
      margin: 30px 0 0
    h3
      br
        display: none

  .page
    padding: 8px 0 60px

  .page-philosophy
    .text-content
      margin: 0 0 20px

  .about .text-content
    margin: 0 auto
    max-width: none

  .about .box-text
    max-width: none

  .about-image-max
    position: relative
    z-index: 1
    bottom: 0
    top: 0
    right: 0
    max-width: 500px
    margin: 20px auto 0

  .catalog .text-description
    max-width: none

  .catalog
    padding: 40px 0 80px

  .form-filter
    margin: 0 0 30px

  .product-card
    height: 100%

  .product-card-max
    height: 100%
    .product-card__img
      height: 300px
    .product-card__body
      height: calc( 100% - 300px )    


@media only screen and (max-width: 768px)
  .title-no-gradient
    font-size: 30px

  header
    padding: 24px 0

  .container, .container-fluid
    padding: 0 12px

  .row
    margin: 0 -12px
    >*
      padding: 0 12px

  .mb-32
    margin-bottom: 24px

  .mb-80
    margin-bottom: 40px

  .mb-20
    margin-bottom: 20px

  .mb-48
    margin-bottom: 30px

  .home
    padding: 24px 0
    h1
      margin: 20px 0
    h3
      font-size: 20px
    .btn-group
      margin: 30px 0 0
      .btn
        width: 100%
        margin: 0 0 10px
        &:last-child
          margin: 0

  .subtitle-text
    max-width: none

  .home-image-max
    position: relative
    margin: 20px 0 0 auto
    max-width: none

  .home-image h4
    max-width: none
    margin: 20px 0 0
    text-align: center

  .home-image-min
    max-width: none
    position: relative
    margin: 20px 0 0

  .breadcrumb
    font-size: 16px

  .breadcrumb-item a::after
    margin: 0 5px

  .pagination li
    margin: 0 10px 0 0
    &:last-child
      margin: 0

  .pagination .page-link-arrow
    width: 32px
    height: 32px
    min-width: 32px
    padding: 5px

  .pagination .page-link
    font-size: 16px  

  .slider-nav
    justify-content: flex-start
    margin: 0 0 20px  

  .page-product-gallery-preview .product-gallery-item
    height: 120px

  .page-product-gallery-max .product-gallery-item
    height: 400px    

  .modal-content
    padding: 40px

  .modal-header
    position: initial
    .btn-close
      width: 30px
      height: 30px
      top: 5px
      right: 5px

  .modal-title
    padding: 0

  #thanksModal .modal-content
    min-height: auto      

@media only screen and (max-width: 576px)
  h2, .h2
    font-size: 30px

  .title-no-gradient
    font-size: 24px

  .btn
    font-size: 14px
    padding: 10px 20px

  .btn-dafault-icon
    padding: 0
    span
      padding: 10px 20px

  header
    padding: 12px 0

  .phone
    font-size: 16px

  .contact-box
    padding: 0 40px 0 0

  .whatsapp-link__icon
    width: 36px
    height: 36px

  .logo
    max-width: 200px

  .whatsapp-link
    font-size: 12px

  .subtitle-text
    font-size: 18px

  .h1, h1
    font-size: 40px

  .home h3
    font-size: 18px

  input, textarea, select
    font-size: 16px
    padding: 0 20px

  textarea
    padding: 16px 20px

  .select-my
    background-size: 24px

  .page-product-gallery-preview
    display: none

  .page-product-gallery-max
    width: 100%
    padding: 0 
    .product-gallery-item
      height: auto
    .slick-arrow
      position: absolute
      top: 50%
      transform: translate(0,-50%)
      background: #032628
    .slick-prev
      left: 0
    .slick-next
      right: 0

@media only screen and (max-width: 420px)
  .logo
    max-width: 130px

  .phone
    font-size: 12px

  .whatsapp-link__icon
    width: 30px
    height: 30px
    top: 4px

  .contact-box
    padding: 0 34px 0 0

  .page-product__footer
    flex-direction: column
    align-items: center
    justify-content: center
    .price
      margin: 0 auto 10px

  .p-60
    padding: 40px 0      

  .form-row
    flex-direction: column
    align-items: flex-start

  .consent
    margin: 0 0 10px

  .form-callback
    [type="submit"]
      width: 100%

  .modal-content
    padding: 40px 24px


@media only screen and (max-width: 370px)
